*.ide
*.ide-shm
*.ide-wal

/.vs

/CplexEnergyHubs/.vs
/CplexEnergyHubs/AdamMSc2020/bin
/CplexEnergyHubs/AdamMSc2020/obj
/CplexEnergyHubs/ECOS2018/bin
/CplexEnergyHubs/ECOS2018/obj
/CplexEnergyHubs/CISBAT21/bin
/CplexEnergyHubs/CISBAT21/obj
/CplexEnergyHubs/EhubExamples/bin
/CplexEnergyHubs/EhubExamples/obj