*.ide
*.ide-shm
*.ide-wal

.DS_Store
**/.DS_Store

/.vs

/CplexEnergyHubs/.vs
/CplexEnergyHubs/AdamMSc2020/bin
/CplexEnergyHubs/AdamMSc2020/obj
/CplexEnergyHubs/ECOS2018/bin
/CplexEnergyHubs/ECOS2018/obj
/CplexEnergyHubs/CISBAT21/bin
/CplexEnergyHubs/CISBAT21/obj
/CplexEnergyHubs/EhubExamples/bin
/CplexEnergyHubs/EhubExamples/obj
/CplexEnergyHubs/SBE22MultiPeriodPV/bin
/CplexEnergyHubs/SBE22MultiPeriodPV/obj
/CplexEnergyHubs/SBE22BuildingIntegratedAgriculture/bin
/CplexEnergyHubs/SBE22BuildingIntegratedAgriculture/obj
